<script src="jquery-3.3.1.min.js"></script>

<!-- START SIGMA IMPORTS -->
<script src="sigmajs/src/sigma.core.js"></script>
<script src="sigmajs/src/conrad.js"></script>
<script src="sigmajs/src/utils/sigma.utils.js"></script>
<script src="sigmajs/src/utils/sigma.polyfills.js"></script>
<script src="sigmajs/src/sigma.settings.js"></script>
<script src="sigmajs/src/classes/sigma.classes.dispatcher.js"></script>
<script src="sigmajs/src/classes/sigma.classes.configurable.js"></script>
<script src="sigmajs/src/classes/sigma.classes.graph.js"></script>
<script src="sigmajs/src/classes/sigma.classes.camera.js"></script>
<script src="sigmajs/src/classes/sigma.classes.quad.js"></script>
<script src="sigmajs/src/classes/sigma.classes.edgequad.js"></script>
<script src="sigmajs/src/captors/sigma.captors.mouse.js"></script>
<script src="sigmajs/src/captors/sigma.captors.touch.js"></script>
<script src="sigmajs/src/renderers/sigma.renderers.canvas.js"></script>
<script src="sigmajs/src/renderers/sigma.renderers.webgl.js"></script>
<script src="sigmajs/src/renderers/sigma.renderers.svg.js"></script>
<script src="sigmajs/src/renderers/sigma.renderers.def.js"></script>
<script src="sigmajs/src/renderers/webgl/sigma.webgl.nodes.def.js"></script>
<script src="sigmajs/src/renderers/webgl/sigma.webgl.nodes.fast.js"></script>
<script src="sigmajs/src/renderers/webgl/sigma.webgl.edges.def.js"></script>
<script src="sigmajs/src/renderers/webgl/sigma.webgl.edges.fast.js"></script>
<script src="sigmajs/src/renderers/webgl/sigma.webgl.edges.arrow.js"></script>
<script src="sigmajs/src/renderers/canvas/sigma.canvas.labels.def.js"></script>
<script src="sigmajs/src/renderers/canvas/sigma.canvas.hovers.def.js"></script>
<script src="sigmajs/src/renderers/canvas/sigma.canvas.nodes.def.js"></script>
<script src="sigmajs/src/renderers/canvas/sigma.canvas.edges.def.js"></script>
<script src="sigmajs/src/renderers/canvas/sigma.canvas.edges.curve.js"></script>
<script src="sigmajs/src/renderers/canvas/sigma.canvas.edges.arrow.js"></script>
<script src="sigmajs/src/renderers/canvas/sigma.canvas.edges.curvedArrow.js"></script>
<script src="sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.def.js"></script>
<script src="sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.curve.js"></script>
<script src="sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.arrow.js"></script>
<script src="sigmajs/src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js"></script>
<script src="sigmajs/src/renderers/canvas/sigma.canvas.extremities.def.js"></script>
<script src="sigmajs/src/renderers/svg/sigma.svg.utils.js"></script>
<script src="sigmajs/src/renderers/svg/sigma.svg.nodes.def.js"></script>
<script src="sigmajs/src/renderers/svg/sigma.svg.edges.def.js"></script>
<script src="sigmajs/src/renderers/svg/sigma.svg.edges.curve.js"></script>
<script src="sigmajs/src/renderers/svg/sigma.svg.labels.def.js"></script>
<script src="sigmajs/src/renderers/svg/sigma.svg.hovers.def.js"></script>
<script src="sigmajs/src/middlewares/sigma.middlewares.rescale.js"></script>
<script src="sigmajs/src/middlewares/sigma.middlewares.copy.js"></script>
<script src="sigmajs/src/misc/sigma.misc.animation.js"></script>
<script src="sigmajs/src/misc/sigma.misc.bindEvents.js"></script>
<script src="sigmajs/src/misc/sigma.misc.bindDOMEvents.js"></script>
<script src="sigmajs/src/misc/sigma.misc.drawHovers.js"></script>
<script src="sigmajs/plugins/sigma.parsers.json/sigma.parsers.json.js"></script>
<!-- END SIGMA IMPORTS -->

<head>
  <title>App</title>
</head>

<body>

  <div id="container">
    <div id="graph-container">
    </div>
    <div id="info-container">
      <div id="nodes-list">
        <select>
          <% nodes.each do |n|%>
          <option value= <%= n['id'].to_s %> > <%= n['label'] %></option>
          <% end %>
        </select>
      </div>
      <div id="nodes-info">
        <textarea id="nodes-info-text"> Nodes Info </textarea>
      </div>
    </div>
  </div>

</body>

<script>
/**
 * Here is just a basic example on how to properly display a graph
 * exported from Gephi as a JSON file, with the JSON Exporter plugin from
 * the Oxford Internet Institute:
 *
 *  > https://marketplace.gephi.org/plugin/json-exporter/
 *
 * The plugin sigma.parsers.json can load and parse the JSON graph file,
 * and instantiate sigma when the graph is received.
 *
 * The object given as the second parameter is the base of the instance
 * configuration object. The plugin will just add the "graph" key to it
 * before the instanciation.
 */
  var graphname = urlParam('graph');

  if (graphname == ""){
    var fullname = "uploads/default.json"
  }else{
    var fullname = "uploads/" + graphname;
  }

  sigma.parsers.json(fullname, {
    container: 'graph-container'
  },
    function(s) {
      // We first need to save the original colors of our
      // nodes and edges, like this:
      s.graph.nodes().forEach(function(n) {
        n.originalColor = n.color;
      });
      s.graph.edges().forEach(function(e) {
        e.originalColor = e.color;
      });

      // When a node is clicked, we check for each node
      // if it is a neighbor of the clicked one. If not,
      // we set its color as grey, and else, it takes its
      // original color.
      // We do the same for the edges, and we only keep
      // edges that have both extremities colored.
      s.bind('clickNode', function(e) {
        var nodeId = e.data.node.id;
        var nodeInfo = e.data.node.label;
        //console.log('node: ' + nodeInfo);
        neigh = s.graph.neighbors(nodeId);

        var nneigh = Object.keys(neigh['node']).map(function(k) { return neigh['node'][k] });
        var dneigh = Object.keys(neigh['dist']).map(function(k) { return neigh['dist'][k] });

        //toKeep[nodeId] = e.data.node;
        var string = "Info sobre o Nó: \n";
        string += "Nome: "
        string += nodeInfo;
        string += "\nVizinhos:\n"
        var i = 0;
        for (i; i < nneigh.length; i++){
          string += nneigh[i].label;
          string += " - Distância: ";
          string += dneigh[i];
          string += "\n";
        }
        update_node_info(string);
      });

    }
  );

  function update_node_info(text){
    $("#nodes-info-text").val(text);
  }

  // Function to get url parameter
  function urlParam(name, w){
      w = w || window;
      var rx = new RegExp('[\&|\?]'+name+'=([^\&\#]+)'),
          val = w.location.search.match(rx);
      return !val ? '':val[1];
  }

  sigma.classes.graph.addMethod('neighbors', function(nodeId) {
    var k;
    var neighbors = {};
    neighbors['node'] = {};
    neighbors['dist'] = {};
    var index = this.allNeighborsIndex[nodeId] || {};

    for (k in index){
      neighbors['node'][k] = this.nodesIndex[k];
      for (z in index[k]){
        neighbors['dist'][k] = index[k][z]['dist'];
      }
    }
    return neighbors;
  });

</script>

<style type="text/css">
  #container {
    position: relative;
    width: 800px;
    height: 600px;
    left: 10px;
    top: 10px;
    border: 1px solid black;
    border-radius: 3px;
  }
  #graph-container {
    left: 10px;
    top: 10px;
    width: 500px;
    height: 500px;
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
  }
  #info-container {
    margin-left: 10px;
    top: 10px;
    width: 270px;
    height: 500px;
    position: relative;
    display: inline-block;
  }

  #nodes-list {
    margin-left: 8px;
    top: -7px;
    width: 260px;
    height: 245px;
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
  }

  #nodes-info {
    margin-left: 8px;
    width: 260px;
    height: 245px;
    position: relative;
    display: inline-block;
    border: 1px solid black;
    border-radius: 3px;
    overflow: hidden;
  }
  #nodes-info-text{
    height: 230px;
    width: 245px;
    position: relative;
    display: inline-block;
    margin-top: 8px;
    margin-left: 8px;

  }

</style>